.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./img/wall.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    width: 80vmin;
    height: 80vmin;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
}

.matrix {
    display: grid;
    width: 75vmin;
    height: 75vmin;
    grid-template-areas:    '. top .'
                            'left patern right'
                            '. bottom .';
    border: 4px solid black;
    align-items: center;
    justify-content: center;
}

.top {
    grid-area: top;
    text-align: center;
    width: 65vmin;
}

.bottom {
    grid-area: bottom;
    text-align: center;
    width: 65vmin;
}

.letter {
    width: calc(100% / 8);
    float: left;
    font-size: 2.5vmin;
    font-weight: bold;
    text-transform: capitalize;
}

.left {
    grid-area: left;
    vertical-align: center;
    height: 65vmin;
}

.right {
    grid-area: right;
    text-align: center;
    height: 65vmin;
}

.number {
    height: calc(100% / 8);
    font-size: 2.5vmin;
    font-weight: bold;
    text-transform: capitalize;
    padding: calc(65vmin / 8 / 2 - 1.2vmin) calc(2.5vmin - 1.2vmin);
}

.patern {
    grid-area: patern;
    width: 65vmin;
    height: 65vmin;
    border: 1px solid #999;
}

.black {
    float: left;
    width: calc((65vmin - 2px) / 8);
    height: calc((65vmin - 2px) / 8);
    background-color: #999;
    font-size:6vmin;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: calc((65vmin - 2px) / 8);
    height: calc((65vmin - 2px) / 8);
    background-color: #fff;
    font-size:6vmin;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}