.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    width: 80vh;
    height: 80vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
}

.matrix {
    display: grid;
    width: 75vh;
    height: 75vh;
    grid-template-areas:    '. top .'
                            'left patern right'
                            '. bottom .';
    border: 4px solid black;
    align-items: center;
    justify-content: center;
}

.top {
    grid-area: top;
    text-align: center;
    width: 65vh;
}

.bottom {
    grid-area: bottom;
    text-align: center;
    width: 65vh;
}

.letter {
    width: calc(100% / 8);
    float: left;
    font-size: 2.5vmin;
    font-weight: bold;
    text-transform: capitalize;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.patern {
    grid-area: patern;
    width: 65vh;
    height: 65vh;
    border: 1px solid #999;
}

.black {
    float: left;
    width: calc((65vh - 2px) / 8);
    height: calc((65vh - 2px) / 8);
    background-color: #999;
      font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    float: left;
    width: calc((65vh - 2px) / 8);
    height: calc((65vh - 2px) / 8);
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}